.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
      background-color: rgb(148, 155, 143);
   padding: 0px 30px;
position: sticky;
top: 0;
width: auto;
left: 0;
}
a{
     text-decoration: none;
     padding: 20px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     color: rgb(61, 80, 57);
}
.links{
    display: flex;
    padding: auto;
}
img{
    width: 240px;
    margin: 5px;
    border-radius: 10px;
}
.section2{
    justify-content: center;
    display: flex;
}
.p1{
    width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #bfcac1;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.header2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
text-align: center;
  color: #40473d;
}
audio{
    margin-left: auto;
    display: flex;
    margin-right: auto;
}
.p2{
      text-align: center;
    font-size: 30px;
    margin: 10px;
    color: #a3b59b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
}
.header1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(18, 30, 5);
}

 body{
    margin: 0px;
    background-color: rgb(33, 35, 29);
}
.greeny{
    color: #96a78e;
}
.a1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;

  
}
.idk{
    padding-bottom: 100px;
}
@media (max-width: 568px){
    .section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    img{
    width: 300px;
    margin: 5px;
  margin-left: auto;
  margin-right: auto;
}
.p1{
    width: 350px;
}
body{
    width: fit-content;
}
.navbar{
    padding: 0px 10px;
}
    .links a{
    font-size: 20px;
    padding: 0px 5px;
    display: inline;
}
}
.image1:hover,.image2:hover,.image3:hover,.image4:hover{
   transform: scale(1.1);
   transition: 0.3s;
   border-radius: 10px;
   box-shadow: 0px 0px 50px rgb(2, 6, 1);
}
a:hover{
    color: #FFF;
     transform: scale(1.1);
   transition: 0.3s;
}